
/* Styles de base */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

/* En-tête et navigation */
header {
    background-color: #99ccff;
    padding: 20px 0;
    text-align: center;
}

header img {
    max-width: 100px; /* Taille d'exemple */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px; /* Ajouter du padding pour une meilleure zone de clic */
    display: inline-block; /* Permet le padding et les effets de survol */
    transition: background-color 0.3s; /* Transition douce pour l'effet de survol */
}
/* Styles de survol et actifs pour les liens de navigation */
nav a:hover {
    background-color: #9999ff; /* Bleu plus clair au survol */
}

nav a:active {
    background-color: #6666ff; /* Bleu légèrement plus foncé pour l'état actif/cliqué */
    border-style: inset; /* Donne l'impression d'être enfoncé */
}

/* Styles du contenu principal */
main {
    padding: 20px;
    text-align: center;
    color: #333; /* Changer la couleur du texte en blanc pour le contraste */
}

main h1 {
    font-family: 'neuton', serif;
    font-size: 3rem; /* Ajuster la taille selon le besoin */
    color: #005a5a;
    font-weight: bold;
    margin-bottom: 1rem; /* Ajoute de l'espace en dessous du h1 */
}

main p {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25rem; /* Ajuster la taille selon le besoin */
    margin-top: 1rem; /* Ajoute de l'espace au-dessus du paragraphe */
    color: #005a5a; /* Couleur bleue claire pour le texte */
}

main img {
    max-width: 100%; /* Rend l'image responsive */
    height: auto; /* Maintient le ratio d'aspect */
    margin: 1rem 0; /* Ajoute de l'espace au-dessus et en dessous de l'image */
}
#acc_div{
    padding: 50px;
}

/*Style pour le menu*/
#menu_ail, #menu_cal, #menu_hui, #menu_oeu, #menu_pou, #menu_boe, #menu_din, #menu_veg, #menu_tom, #menu_fil, #menu_poi, #img_ent, #img_san, #img_via{
    transition: 0.3s;
}

.titre_menu{
    font-size: 9em;
    text-align: center;
    padding: 0.4em;
    margin-bottom: 0;
}

.img_menu{
    background-color: #333;
    width: 400px;
    padding: 1em;
}

.table_menu{
    width: 80%;
    background-color: #f0f0f0;
    padding-bottom: 6em;
}

.section_menu{
    font-size: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.option_menu{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding-left: 0;
}

.description_menu{
    padding-left: 0%;
    font-family:'Segoe UI', sans-serif;
    padding-bottom: 1.5em;
}

.prix_menu {
    text-align: right;
    padding-right: 0%; 
    color: #000; 
    font-family: 'Segoe UI', sans-serif; 
}

/* STYLE SPÉCIAL */

.img_special{
    max-width: 30%;
    border: #005a5a solid 2px;
}

#img_special{
    display: none;
}

.sous_titre_special{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.75rem; 
    margin-top: 1rem; 
    color: black; 
}

.desc_spl{
    display: none;
}

/*inscription*/
.inscription>div{
    margin-bottom: 20px;
}

.label_ins{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25rem; /* Ajuster la taille selon le besoin */
    margin-top: 1rem; /* Ajoute de l'espace au-dessus du paragraphe */
    color: #005a5a; /* Couleur bleue claire pour le texte */
}

.input_ins{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25rem; /* Ajuster la taille selon le besoin */
    margin-top: 1rem; /* Ajoute de l'espace au-dessus du paragraphe */
    color: #005a5a; /* Couleur bleue claire pour le texte */
    width: 20em;
}

#ins_msg1, #ins_msg2, #ins_msg3, #ins_msg4, #ins_null, #ins_msg5{
    display: none;
}


/* Footer */
.division{
    padding-bottom: 34rem;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5em;
    margin: 0px;
}
footer>p{
    margin-bottom: 18px;
}


/*-----------------------------rejoignez-nous  styles---------------------------*/
/*Ecran Pc 950px et plus */
@media screen and (min-width:800px){
    .corps-de-page{
        padding: 10px;
        background-image: url(""); 
        float: left;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color:black;
    
    }
     .partie-haute-join{
        background-color: black;
        background-size: cover; 
        background-position:center;
        width: 100%;
        display: flex;
        color: white;
        margin:  2px 10px  10px 2px ;
    
    }
    .partie-haute-join-gauche{
        padding: 2%;
        text-align: center;
        width: 35%;
    }
    .ligne-seperation{
        display: flex;
        width: 100%;
        height: 1px;
        background-color:#99ccff;
        color: #000;
        font-size: bold;
        
      }
    .gauche-texte p{
        align-items: center;
        color: white;
        margin-top: 100px;
        background-color:black;
    }
    .gauche-texte .gauche-texte-formulaire{
       align-items: center;
       margin: 10%;
    }
   
    
    .partie-haute-join .partie-haute-join-droite{
        padding: 1% auto;
        background-repeat: no-repeat; 
        background-size: cover;
        padding: 0% ;
        width: 65%;
        float: right;
        height: 650px;
        background-image: url("../images/image-resto.webp");
    
    }
    .partie-milieu-join{
        background-size:cover; 
        height: max-content;
        align-items: center;
        padding: 2px;
     
       
    }
    .partie-milieu-join .textes{
    display: flex;
    align-items: center;
    padding: 0%;
    }
    .partie-milieu-join .textes .partie-milieu-join-texte{
        align-items: center;
        text-align: center;
        margin: 2% auto;
        padding: 3%;
    }
    .partie-milieu2-join{
        background-color: #edb5b5;
        display: flex;
    }
    .milieu2-formulaire{
        background-color: #99ccff;
        align-items: center;
        width: 40%;
        border-radius: 0%;
        padding: 0% auto;
    }
    .information{
        display: flex
    }
    .tiret-addresse{
        width: 50%;
        height: 3.5px;
        flex-wrap: wrap;
        background-color: white;
    }
    .milieu2-Addresse{
        width: 60%;
        background-color: antiquewhite;
        text-align: left;
        padding: 1%;
    }
    #btnFormulaire{
        padding: 5%;
        color: white;
        border: 0.5px solid  #99ccff ;
       margin: 5%;
    }
  
    #id_Envoyer{
        margin: 2%;
        padding: 1% 2%;
        border-radius: 1.5em;
        font-size: 15px;
        font-weight: 1px;
        align-items: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    .contenu-formulaire input{
        margin: 1%;
        height: 35px;
        padding-left: 5px;
        border-radius: 0.8em;
        width: 40%;

    }
    }
.img_rej{
    width: 340px;
}
 
/*------------------/ Stype pour notre histoire--------------------------------*/
#histoire_txt{
    opacity: 0;
    transition: 2s;
    font-size: 30px;
}

body .separtion-histoire{
    display: flex;
    width: 100%;
    height: 1px;
    background-color:#99ccff;
    color: #000;
}
body main .histoire-part1
{
    display: flex;
}
.clsHistoire-partie-gauche {
    padding: 1em;
    margin: 5em;
   background-color: #333;
    border-radius: 1.5em;
    background-position:center;
    width: 30%; 
    height: 500px;
    background-image: url("images/hamburger.jpg");

   
}
.cls-partie-droite{
    margin-left: 2em;
    width: 70%;
}
.mesTextes{
    margin: 2em 10em;
    background-position: center;
   

}
.retour-au-menu{
   border-color: #99ccff;
   background-color: white;
   border-radius: 1.5em;
   padding: 1em;
   font-weight: bold;
   font-size: 15px;
}
.histoire-partie2{
    display: flex;
    margin: 2em;
    border-radius: 1.5em;
    padding: 10px 100px;
    margin: 30px 10px;
   
}
.mesAutres-pages{
    margin: 10px;
    border-radius: 1.5em;
    margin-left: 50px;
    width: 20%;
    font-size: 20px;
    background-color:#99ccff;
}
.histoire-partie2 .mesAutres-pages button{
    width: 99%;
    margin-top: 5px;
    height: 95px;
    border-radius: 2em;
    border:0px;
    border-color: #99ccff;
}
